bin/**
.idea/**
algorithms/q_learning/bin/**
algorithms/q_learning/.idea/**
algorithms/ant_colony_optimization/bin/**
algorithms/ant_colony_optimization/.idea/**
algorithms/artificial_neural_network/.idea/**
algorithms/artificial_neural_network/out/**
*.iml
